# Code owners for nexthop.
#
# The maintainer is automatically requested for review on any pull request.
# See https://docs.github.com/articles/about-code-owners for syntax.

* @SupremeCommanderHedgehog
